.header__toggle {
  display: none;
}
.banner {
  position: relative;
  right: 150px;
}

.mainbanner__wrap {
  display: flex;
  position: relative;
  margin: 0;
  }

.mainbanner__head {
  position: absolute;
  font-family: 'PT Sans';
  line-height: 120%;
  letter-spacing: 0.1em;
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  width: 508px;
  height: 174px;
  margin-left: -1240px;
  margin-top: 71px;
  background-repeat: no-repeat;
  }

  
.mainbanner__text {
  position: absolute;
  width: 418px;
  height: 48;
  margin-top: 460px;
  margin-left: -1155px;
  text-transform: uppercase;
  text-align: justify;
  letter-spacing: 0.04em;
  line-height: 150%;
}

.mainbanner__head span {
    color: var(--color_3);
}

.mainbanner__logo {
  position: absolute;
  left: 793px;
  top: 176px;
  z-index: 2;
}

.mainbanner__vector1 {
  position: absolute;
  margin-top: 350px;
  margin-left: -1125px;
}

.art-club__subtitle {
  text-align: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;  
}

.art-club__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 29px;
}

.art-club__img {
  max-width: 620px;
  min-width: 0; 
}


/* .art-club_btn_wrapper:before {
  content: '';
  border-left: 1px solid #83C2D5;
  display: inline-block;
  height: 430px;
  position: absolute;
  margin: 0 0 0 -90px;
}

.art-club_btn_wrapper a {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
} */

.art-club__title2 {
  margin: 0 auto;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 120%;
  letter-spacing: 0.1em;
  color: #000000;
  /* margin-left: -90px; */
} 

.art-club__subtitle2 {
  max-width: 450px;
  padding: 0 29px;
  margin-bottom: 35px;
  font-family: 'Raleway';
  font-style: normal;
  font-size: 1em;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.04em;
  color: #000000;
  word-spacing: 0.4em;
  border-left: 1px solid #83C2D5;
}
/* topics */

.topics {
  margin-top: 80px;
}

.topics__block1 {
  gap: 16px;
  flex-wrap: wrap;
  
}

.topics__img1 {
  max-width: 418px;
  height: 320px;
  
}

.topics__img2 {
  max-width: 417px;
  min-width: 0;
  
}

.topics__img3 {
  max-width: 273px;
  min-width: 0;
  
}

.topics__block2 {
  gap: 24px; 
  /* flex-wrap: wrap;  */
}

.topics__block2-txt {
  max-width: 554px;
  min-width: 300px;
  margin-top: 60px;
}

.topics__img4 {
  /* max-width: 562px; */
  min-width: 300px;
  position: relative;
  top: -90px;
}

.topics__item5 {
 
}

.topics__item5-txt {  
  position: relative;
  max-width: 418px;  
  top: -90px;
}

.topics__block3 {
  gap: 10px;
  margin-bottom: 20px;
}

.topics__block5 {
  gap: 10px;
}

/* master-class */

.master-class__item {
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.master-class__item1 {
  margin-left: 144px;
}
.master-class__item2 {
  margin-right: 144px;
}

.master-class__text {
  max-width: 563px;
  min-width: 300px;
  text-align: justify;
}

.master-class__title {
  font-family: PT Sans, Sans-serif;
  font-size: 1.5em;
  text-align: center;
  line-height: 150%;
  margin-top: 0;
}

/* .master-class__btn1 {
  left: 60%;
  position: fixed;
  margin-top: 65px;  
}

.master-class__btn2 {
  left: 9%;
  margin-top: 65px;
} */

.master-class__img {
  max-width: 418px;
  min-width: 350px;
  
  max-height: 416px;
  
}


















/* .master-class {
  margin-top: -20px;
}

.master-class__item1 {
  margin-left: 270px;
  display: grid;
  grid-template-columns: 520px 420px;
  grid-gap: 20px;
}

.master-class__item--img {
  width: 417px;
  height: 416px;
  border-radius: 5px;
}

.master-class__item2 {
  margin-top: 60px;
  margin-left: 140px;
  display: grid;
  grid-template-columns: 470px 520px;
  grid-gap: 20px;
}

.master-class__button {
  margin-left: 305px;
  margin-top: -60px;
  width: 216px;
}

.master-class a {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
} */

/* .master-class__line {
  overflow: hidden;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
}

.master-class__line span {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #050505;
}

.master-class__line:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: var(--color_1);
  position: relative;
  margin-left: -100%;
  left: -20px;
  margin-top: 30px;
}

.master-class__line:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: var(--color_1);
  position: relative;
  margin-right: -100%;
  right: -20px;
  margin-top: -30px;
} */

/* .master-class__item1__btn-wrapper a {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.master-class__item1--title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #050505;
  margin-left: -90px;
} 

.master-class__item1--subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #000000;
  margin-left: -55px;
}

.master-class__item2--title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #050505;
  margin-left: -90px;
} 

.master-class__item2--subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #000000;
  margin-left: -55px;
}

.master-class__button2 {
  margin-left: -55px;
  margin-top: 40px;
  width: 216px;
} */

/* .gallery__line {
  overflow: hidden;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
}

.gallery__line span {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #050505;
} */

.gallery__subtitle {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #050505;
}

/* .gallery__line:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: var(--color_1);
  position: relative;
  margin-left: -100%;
  left: -20px;
}

.gallery__line:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background-color: var(--color_1);
  position: relative;
  margin-right: -100%;
  right: -20px;
} */

.gallery__photo {
  margin-top: 60px;
  
}

.gallery__photo--img {
  width: 279px;
  height: 457px;
  transition: 1s;
}

.gallery__photo--img:hover {
  transform: scale(1.5);
}

.gallery__button {
  margin-top: 50px;
  margin-left: 590px;
}

.gallery a {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}



