

@media screen and (max-width: 1200px) {
  /* экраны 1200px и меньше */

  .art-club__line span {
      font-size: 2em;
  }
}

@media screen and (max-width: 920px) {
  /* экраны 920px-481px */
  .mainbanner__wrap {
    display: block;
  } 

  .mainbanner__head {
    margin-left: auto;
    margin-right: auto;
  }

  .mainbanner__text {
    margin: 50px auto 0;
    max-width: 300px;
  }

  .art-club__content {
    flex-direction: column;
  }

  .art-club__title2 {
    text-align: center;
    align-content: center;
  }

  .art-club__subtitle2 {
    font-size: 1.2em;
    max-width: 500px;
  }

  .art-club__img {
    max-width: 450px;    
  }

  .button-artclub {
    margin: 0 auto;
  }
  
  .topics__subtitle {
    font-size: 1.2em;
    max-width: 418px;
  }

  .topics__block1 {
    flex-direction: column;
    align-content: center;
  }

  .topics__block2 {
    flex-direction: column;
    align-items: center;
  }

  .block2__item1 {
    /* max-width: 400px; */
    padding: 0 20px;
  }
  .topics__img3 {
    max-width: 418px;
  }
  .topics__img4 {
    max-width: 418px;
    top: 0;
  }

  .topics__item5-txt {
    top: 0;
    padding: 0 20px;
  }

  .topics__block3 {
    top: 0;
    flex-direction: column;
    align-items: center;
  }

  .block3__item1 {
    max-width: 418px;
    padding: 0 20px;
  }

  .topics__block4 {
    top: 0;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
  .block4__item1 {
    margin-top: 16px;
    max-width: 418px;
  }

  .block3__item1::before,
  .block4__item1::after,
  .block4__item2::after {
    display: none;
  }

  .master-class__subtitle {
    font-size: 1.2em;
  }

  .master-class__item1 {
    flex-direction: column-reverse;
    margin-left: auto;
    align-items: center;
    padding: 0 20px;
  }

  .master-class__item2 {
    flex-direction: column;
    margin-right: auto;
    align-items: center;
    padding: 0 20px;
  }

  
  .master-class__btn1,
  .master-class__btn2 {
    margin: auto;
  }

  
}

@media screen and (max-width: 560px) {
  /* экраны 560px и меньше */
  
  .mainbanner {
   height: 400px;
  }

  .art-club__subtitle {
    font-size: 1.3em ;
  }

  .art-club__img {
    max-width: 310px;
  }

  .master-class__img {
    max-width: 150px;
  }

  .topics__img1,
  .topics__img2,
  .topics__img4,
  .topics__img5,
  .topics__img6,
  .topics__img7 {
    max-width: 330px;
  }

 




  

  
}