:root {
    --color_1: #83C2D5;    
    --color_2: #D6AA45;    
    --color_3: #5FA1A6;
    --color-white: #ffffff;
    --color-black: #111111;
    --color-gray: #E3E3E3;
}
/* common */
*{
    box-sizing: border-box;  
}

*:before,
*:after {
  box-sizing: border-box;
}

.header__toggle {
  display: none;
}

    /* Банер */
 .mainbanner2 {
    background-image: url('../images/banner.webp');
    background-size: 100%;
      
  }

  .mainbanner__wrap {
    display: flex;
    position: relative;
    margin: 0;
  }

  .mainbanner2__head {
    font-family: 'PT Sans';
    line-height: 120%;
    letter-spacing: 0.1em;
    font-size: 3em;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 508px;
    margin-left: 200px;
    margin-top: 71px;
    background-repeat: no-repeat;
  }

.mainbanner2__head span {
    color: var(--color_3);
}

.mainbanner__logo {
    position: absolute;
    left: 793px;
    top: 176px;
  }

.mainbanner2__text {
    position: relative;
    max-width: 418px;
    margin-top: 150px;
    margin-left: 294px;
    text-transform: uppercase;
    text-align: justify;
    letter-spacing: 0.04em;
    line-height: 150%;
  } 

    /*Галерея*/
  
    .gallary {
    margin-top: 100px;
  }  

  .gallary__wrap {
    position: relative;
  }

/*Масляная живопись*/

  
   .gallary__subtitle-one {
    margin: 0 auto;
    max-width: 354px;
    height: 100px;
    position: relative;
    padding-top: 34px;
    padding-left: 20px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    background-image: url(../icons/Ellipse-one.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.gallary__subtitle-one p {
    margin: 0;
}

.gallary__item-one {
    max-width: 1140px;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 14px;
    flex-wrap: wrap;   
    margin: auto;
    margin-top: 50px; 
}

.gallary__item-one img {
    transition: 1s;
   
}

.gallary__item-one img:hover {
    transform: scale(1.4);
    z-index: 2;
}


/*Авторская серия персонажей*/

.gallary__item-two {
    max-width: 1140px;
    height: 100%;
    margin: 100px auto 0;
    
}

.gallary__subtitle-two {
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 20px;
    text-align: center;
    width: 450px;
    height: 105px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    background-image: url(../icons/Ellipse-one.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.gallary__subtitle-two p {
    margin: 0;
}

.gallary__item-two-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: 50px;
}

.gallary__item-two img {
    transition: 1s;
}

.gallary__item-two img:hover {
    transform: scale(1.4);
    z-index: 2;
}

/*Работы в стиле импрессионизм*/
.gallary__item-three {
    max-width: 1140px;
    height: 100%;
    margin: 100px auto 50px;
    
}

.gallary__ellips-three {
    position: absolute;
    left: 106px;   
}

.gallary__subtitle-three {
    margin: auto;
    padding-top: 39px;
    text-align: center;
    max-width: 400px;
    height: 110px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #050505;
    background-image: url(../icons/Ellipse-three.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.gallary__subtitle-three p {
    margin: 0;
}

.gallary__item-three-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: 50px;
}    

.gallary__item-three img {
    transition: 1s;
}

.gallary__item-three img:hover {
    transform: scale(1.4);
    z-index: 2;
}